# Application Configuration
PORT=3003

# RCS Configuration
# RCS_BASE_URL=http://localhost:8888
RCS_BASE_URL=http://173.249.57.224:8182
RCS_API_KEY=
RCS_TIMEOUT=10000
RCS_RETRY_ATTEMPTS=3
RCS_RETRY_DELAY=1000
RCS_GEN_AGV_SCHEDULING_TASK_API_PATH=/rcms/services/rest/hikRpcService/genAgvSchedulingTask
RCS_CONTINUE_AGV_TASK_API_PATH=/rcms/services/rest/hikRpcService/continueTask

# AGV Configuration
AGV_STANDBY_POSITION=124225XY117681
AGV_DOCK_POSITION=127385XY114099
AGV_DESTINATION_POSITION=124225XY117681
AGV_CHECK_AGV_STATUS_INTERVAL_MS=5000

# Modbus Configuration
MODBUS_HOST=localhost
MODBUS_PORT=5020
MODBUS_UNIT_ID=1
MODBUS_TIMEOUT=10000
MODBUS_RECONNECT_DELAY=3000
MODBUS_POLL_INTERVAL_MS=500